<!DOCTYPE>
<html>
    <head>
     <title></title>
    </head>
    <body>
        <form method='POST' action='/articles'>
        <h2>Title: <input id="title" type="text" name="title" ><h2>
        <h2>Content: <input id="content" type="text" name="content" ><h2>
        <input type="submit" id="Submit">

    </body>
</html>
